@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  z-index: 0;
}
* {
  color: white;
  font-family: "Roboto Slab", serif;
  z-index: 0;
}
.navbar {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  background: rgb(238, 108, 108);
  z-index: 10;
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s ease;
}
ul {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 5px;
  position: relative;
}
#navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 0;
  font-weight: bolder;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
#navlinks:hover {
  text-shadow: 1px 1px 1px black;
}
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 0;
  outline: none;
  margin: 0;
  padding: 0;
  height: 80vh;
  border: none;
}
.homepage::before {
  content: "";
  position: absolute;
  background-image: url(./1.jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.homepage h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
  color: white;
}
.homepage p {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: white;
}
.card-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: linear-gradient(rgba(163, 161, 161, 0.4), rgba(10, 10, 10, 0.8));
  margin: 0px;
}
#cards {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 30vh;
  flex-wrap: wrap;
  overflow: hidden;
  width: 30%;
  background: rgba(46, 1, 1, 0.2);
  box-shadow: 5px 5px 10px black;
}
#cards p {
  color: rgb(46, 1, 1);
  text-align: justify;
  font-weight: bold;
  width: 50%;
}
#products-heading {
  color: black;
  text-align: center;
  text-decoration: underline;
  background: linear-gradient(#111111, rgba(163, 161, 161, 0.4));
  margin: 0px;
  padding: 2em;
}
#cards img {
  height: 4em;
}
.footer {
  background: rgba(10, 10, 10, 0.8);
  margin: 0px;
  padding: 1px;
}
.footer p {
  color: rgb(226, 73, 73);
  text-align: center;
  padding: 20px;
  font-weight: bolder;
}
#navlinks::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  z-index: -1;

  border: 0x px solid black;
  border-radius: 10px;
  transition: all 1s ease;
  box-sizing: border-box;
}
#navlinks:hover::before {
  width: 100%;
  background: white;
  border-radius: 0px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  transition: all 1s ease;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;
  padding: 15px 20px;
  border: 2px solid white;
  text-decoration: none;
}
#b1::before {
  content: "";
  background: white;
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: -1;
  transition: all 1s ease;
  box-sizing: border-box;
}
#b1:hover::before {
  height: 100%;
}
#b1:hover {
  color: black;
  box-shadow: 2px 2px 8px white, -2px -2px 8px white;
  text-shadow: 1px 1px 2px black;
}
#burger {
  position: fixed;
  top: 0.5em;
  right: 1em;
  z-index: 11;
  cursor: pointer;
  height: 3em;
  user-select: none;
}
#burger:hover {
  filter: invert(1);
}
/* .inverted is for js script */
.inverted {
  filter: invert(1);
}
